[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autoScorecard"]
	path = autoScorecard
	url = https://github.com/cran/autoScorecard
[submodule "convertbonds"]
	path = convertbonds
	url = https://github.com/aughunter/convertbonds
